<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-ios-aswebauthenticationsession-api"
        version="1.1.3">
    <name>ASWebAuthenticationSession</name>
    <description>Cordova Plugin for iOS 12/13 ASWebAuthenticationSession API</description>
    <license>MIT</license>
    <keywords>ASWebAuthenticationSession,iOS 12,iOS 13,iOS,oAuth,Single Sign on,Privacy</keywords>
    <repo>https://github.com/jwelker110/cordova-plugin-ios-aswebauthenticationsession-api.git</repo>
    <issue>https://github.com/jwelker110/cordova-plugin-ios-aswebauthenticationsession-api/issues</issue>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ASWebAuthSession">
                <param name="ios-package" value="ASWebAuthSession" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/ASWebAuthSession.h" />
        <source-file src="src/ios/ASWebAuthSession.m" />

        <js-module src="www/ASWebAuthSession.js" name="ASWebAuthSession">
            <clobbers target="window.plugins.ASWebAuthSession" />
        </js-module>
        
    </platform>
</plugin>
